## Python code example

In [17]:
import pandas as pd

# Creating a simple DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 35, 30],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)

# Displaying the DataFrame
df

      Name  Age         City
0    Alice   25     New York
1      Bob   35  Los Angeles
2  Charlie   30      Chicago

## Python code example

In [7]:
# Creating a Series
age_series = pd.Series([25, 30, 35], name="Age")

# Displaying the Series
age_series

0    25
1    30
2    35
Name: Age, dtype: int64

## Python code example

In [18]:
# Filtering DataFrame by a condition
filtered_df = df[df['Age'] > 28]

# Sorting the DataFrame by Age
sorted_df = df.sort_values('Age')

# Displaying the results
print("Filtered DataFrame:\n", filtered_df)

print("Sorted DataFrame:\n", sorted_df)

Filtered DataFrame:
       Name  Age         City
1      Bob   35  Los Angeles
2  Charlie   30      Chicago

Sorted DataFrame:
       Name  Age         City
0    Alice   25     New York
2  Charlie   30      Chicago
1      Bob   35  Los Angeles